.hero {
  @extend .section-bg;

  &__container {
    display: grid;
    grid-template-columns: 670px 1fr;

    grid-template-areas:
      'preview title'
      'preview subtitle'
      'preview deleviry'
      'preview timer'
      'preview .'
    ;
  }

  &__title {
    grid-area: title;
    font: 500 40px/46px var(--font);
    color: var(--light);
    margin: 38px 0 15px -68px;
    max-width: 579px;
    opacity: 0;
  }

  &__box {
    grid-area: preview;
    margin-left: -80px;
  }

  &__preview {
    clip-path: polygon(0 0, 83% 0, 100% 100%, 17% 100%);
    opacity: 0;
  }

  &__image {
    display: block;
    object-fit: cover;
  }

  &__subtitle {
    grid-area: subtitle;
    font: 400 30px/36px var(--font);
    color: var(--light);
    margin: 0 0 21px -69px;
    opacity: 0;
  }

  &__delivery {
    grid-area: deleviry;
    display: flex;
    align-items: center;
    gap: 0 24px;
    opacity: 0;
    margin-bottom: 39px;

    &-icon {
      width: 97px;
      height: 97px;
      border-radius: 50%;
      overflow: hidden;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: -38px;
    }

    &-text {
      font: 400 30px/35px var(--font);
      color: var(--light);
      text-transform: uppercase;
      margin: 0;
    }
  }

  &__timer {
    grid-area: timer;
    opacity: 0;
  }
}

.runline {
  background-color: #2D2727;
  overflow: hidden;
  position: absolute;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 12px 100%);
  padding: 25px 0;
  position: absolute;
  bottom: 40px;
  left: calc((100% - 1145px)/2);
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 46px;

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 46px;
    margin: 0;
  }

  &__item {
    display: block;
    white-space: nowrap;
    color: var(--light);
    font: 400 30px/35px var(--light);
  }
}

@media (max-width:1230px) {
  .hero__container {
    grid-template-areas:
      'preview title'
      'preview subtitle'
      'preview deleviry'
      'preview timer'
    ;
    grid-template-columns: 625px 1fr;
    gap: 30px;
  }

  .runline {
    clip-path: none;
    left: 0;
  }

  .hero__preview {
    clip-path: none;
  }

  .hero__box {
    position: relative;
    margin-left: 0px;
    overflow: hidden;
  }

  .hero__title {
    margin: 14px 0 0px 0px;
  }

  .hero__subtitle {
    margin: 0 0 0px 0px;
  }

  .hero__delivery {
    margin-bottom: 0;
  }

  .hero__delivery-icon {
    margin-left: 0px;
  }

  .timer {
    transform: translateX(0px);
  }
}

@media (max-width:1130px) {
  .hero__container {
    grid-template-columns: 610px 1fr;
  }

  .hero__subtitle {
    font: 400 26px/30px var(--font);
  }

  .hero__title {
    font: 500 35px/40px var(--font);
  }
}

@media (max-width:1060px) {
  .hero__container {
    grid-template-areas:
      'title'
      'preview'
      'subtitle'
      'deleviry'
      'timer'
    ;
    grid-template-columns: 1fr;
  }

  .hero__box {
    margin-bottom: 20px;
  }

  .hero__title {
    margin: 14px auto 20px;
    font: 400 45px/50px var(--font);
    text-align: center;
  }

  .hero__subtitle {
    margin: 0 0 15px 0px;
    font: 500 40px/45px var(--font);
    text-align: center;
  }

  .hero__delivery {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 500px) {
  .hero__title {
    font: 400 35px/40px var(--font);
  }

  .hero__subtitle {
    font: 400 26px/30px var(--font);
  }

  .hero__delivery-icon {
    flex-shrink: 0;
  }
}