.reviews {
  &__title {
    @extend %title;
  }
  &__slider{
    position: relative;
    padding-bottom: 60px;
  }
}

.slide {
  max-width: 383px;
  margin: 0 auto;
}
.slide-comment{
  display: flex;
  gap:0 16px;
  padding: 18.28px;
  margin-bottom: 18px;
  background-color: #F8F8F8;
  border-radius: 18px 18px 18px 0px;
  &__avatar{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
  }
  &__name{
    font:700 16px/18px var(--font);
    color: #303030;
    margin: 0 0 10px;
  }
  &__text{
    font:400 16px/18px var(--font);
    color: #303030;
    margin: 0 0 30px
  }
  &__img{
    margin-bottom: 14px;
  }
  &__time{
    font:400 13px/18px var(--font);
    color: #303030;
    text-align: right;
  }
}
.slide-answer{
  display: flex;
  gap: 0 16px;
  background-color: #3667C6;
  border-radius: 18px 18px 0px 18px;
  padding: 18px;
  &__avatar{
    flex-shrink: 0;
    width: 64px;
    height: 64px;
  }
  &__command{
    text-align: right;
    font:700 16px/19px var(--font);
    color: var(--light);
    margin: 0 0 13px;
  }
  &__text{
    font:400 16px/19px var(--font);
    
    text-align: right;
    color: var(--light);
    margin: 0 0 16px auto;
    max-width: 90%;

  }
  &__time{
    font:400 13px/16px var(--font);
    color: var(--light);
    margin: 0;
  }
}
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0px;
}

.swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background-color: #C4C4C4;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #B72410;
}

@media (max-width: 500px) {
  .slide {
    max-width: 100%;
  }
}