*,
*::after,
*::before {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

body {
	background-color: var(--light);
	font: 400 20px / 24px var(--font);
	margin: 0;
	padding: 0;
	&.disable-scroll {
		position: relative;
		overflow: hidden;
		height: 100vh;
		left: 0;
		top: 0;
		width: 100%;
	}
}

.main{
	overflow: hidden;
}
.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

.btn-reset {
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	color: inherit;
	font: inherit;
	padding: 0;
	cursor: pointer;
}

.list-reset {
	list-style: none;
	padding: 0;
	margin: 0;
}
.section-bg{
	position: relative;
  z-index: 1;
  background-image: url('@img/bg.jpg');
  @extend %bg-cover;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(121, 15, 0, 0.8);
    z-index: -1;
  }
}
.title{
	font: 700 40px/47px var(--font);
	text-align: center;
	text-transform: uppercase;
}
.visually-hidden {
	position: absolute !important;
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.section-offset{
	padding: 64px 0;
}
.btn{
	color: var(--light);
	font:400 25px/30px var(--font);
	background-color: var(--accent);
	padding: 24px 40px;
	text-align: center;
	max-width: 320px;
	width: 100%;
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
	border-radius: 40px;
	transition: all .3s ease-in-out;
	&:hover{
		background-color: #dd3448;
	}
}
@media (max-width:390px) {
	.container{
		padding: 0 10px;
	}
}