<section class="about section-offset" id="about">
  <div class="container">
    <h2 class="about__title tac">
      Почему покупатели выбирают нас
    </h2>
    <div class="about__items">
      <div class="about-item">
        <div class="about-item__box">
          <img src="@img/icons/quality.svg" alt="" width="57" height="57" class="about-item__icon">
        </div>
        <p class="about-item__text tac">
          Высокое качество товаров
        </p>
      </div>
      <div class="about-item">
        <div class="about-item__box">
          <img src="@img/icons/disconto.svg" alt="" width="58" height="58"  class="about-item__icon">
        </div>
        <p class="about-item__text tac">
          Гибкая система скидок
        </p>
      </div>
      <div class="about-item">
        <div class="about-item__box">
          <img src="@img/icons/delivery.svg" alt="" width="51" height="51" class="about-item__icon">
        </div>
        <p class="about-item__text tac">
          Быстрая доставка без предоплаты
        </p>
      </div>
      <div class="about-item">
        <div class="about-item__box">
          <img src="@img/icons/jacket.svg" alt="" width="63" height="63" class="about-item__icon">
        </div>
        <p class="about-item__text tac">
          При покупки 2-х и более товаров, гарантированный подарок
        </p>
      </div>
    </div>
  </div>
</section>