<section class="catalog section-offset" id="catalog">
  <div class="container catalog__container">
    <h2 class="catalog__title tac">
      Каталог
    </h2>
    <div class="catalog__items">
      <div class="catalog__item card" data-slider-name="heated-jacket">
        <div class="slider-box">
          <div class="swiper swiper-heated-jacket">
            <div class="swiper-wrapper card__images">
              <img src="@img/products/heated-jacket/heated-jacket.jpg" alt="" width="472" height="432"
                class="card__image swiper-slide card__image--main">
              <img src="@img/products/heated-jacket/heated-jacket_1.jpg" alt="" width="472" height="432"
                class="card__image swiper-slide">
              <img src="@img/products/heated-jacket/heated-jacket_2.jpg" alt="" width="472" height="432"
                class="card__image swiper-slide">
              <img src="@img/products/heated-jacket/heated-jacket_3.jpg" alt="" width="472" height="432"
                class="card__image swiper-slide">
              <img src="@img/products/heated-jacket/heated-jacket_4.jpg" alt="" width="472" height="432"
                class="card__image swiper-slide">
              <img src="@img/products/heated-jacket/heated-jacket_5.jpg" alt="" width="472" height="432"
                class="card__image swiper-slide">
            </div>
          </div>
        </div>

        <h3 class="card__title">
          Куртка с подогревом
        </h3>
        <div class="card__price price">
          <p class="price__new">
            <span class="price__new-count">79</span><span class="price__new-currency">€</span>
          </p>
          <del class="price__old">
            <span class="price__old-count">158</span><span class="price__old-currency">€</span>
          </del>
        </div>
        <button class="btn-reset card__btn more-btn btn">подробнее</button>
        <div class="product-description tagging">
          <h3 class="product-description__title"></h3>
          <p class="product-description__subtitle">
            Куртка с подогревом Heated Jacket - это легкая и удобная куртка со встроенной системой обогрева, которая
            согреет вас в любую погоду.
          </p>
          <ul class="product-description__list list-reset">
            <li class="product-description__item">
              <p class="product-description__text">
                Регулятор на 3 уровня нагрева ( высокий, средний, низкий)
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Нагревается всего за одну минуту до 31 градуса
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Водонепроницаемость III-го уровня
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Тепловая мембрана omni-heat
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Инфракрасные нагревательные элементы
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                До 10 часов непрерывной работы
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Работает от любого Повербанка либо USB выхода
              </p>
            </li>
          </ul>
          <p class="product-description__tagging">
            * Повербанк приобретается отдельно.
          </p>
        </div>
      </div>
      <div class="catalog__item card" data-slider-name="heated-vest">
        <div class="slider-box">
          <div class="swiper swiper-heated-vest">
            <div class="swiper-wrapper card__images">
              <img src="@img/products/heated-vest/heated-vest.jpg" alt="" width="472" height="432"
                class="card__image swiper-slide card__image--main">
              <img src="@img/products/heated-vest/heated-vest_1.jpg" alt="" width="472" height="432"
                class="card__image swiper-slide">
              <img src="@img/products/heated-vest/heated-vest_2.jpg" alt="" width="472" height="432"
                class="card__image swiper-slide">
              <img src="@img/products/heated-vest/heated-vest_3.jpg" alt="" width="472" height="432"
                class="card__image swiper-slide">
              <img src="@img/products/heated-vest/heated-vest_4.jpg" alt="" width="472" height="432"
                class="card__image swiper-slide">
            </div>
          </div>
        </div>
        <h3 class="card__title">
          Жилет с подогревом
        </h3>
        <div class="card__price price">
          <p class="price__new">
            <span class="price__new-count">69</span><span class="price__new-currency">€</span>
          </p>
          <del class="price__old">
            <span class="price__old-count">138</span><span class="price__old-currency">€</span>
          </del>
        </div>
        <button class="btn-reset card__btn more-btn btn">подробнее</button>
        <div class="product-description tagging">
          <h3 class="product-description__title"></h3>
          <p class="product-description__subtitle">
            Жилет с подогревом Heated Vest - это универсальное решение для защиты от холода:
          </p>
          <ul class="product-description__list list-reset">
            <li class="product-description__item">
              <p class="product-description__text">
                Нагревается всего за одну минуту до 31 градуса
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Регулятор на 3 уровня нагрева ( высокий, средний, низкий)
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Тепловая мембрана omni-heat для длительного сохранения и удержания тепла
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Водонепроницаемый внешний материал
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Простое управление: всего одна кнопка
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Не требует особого ухода: машинная деликатная или ручная стирка
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                До 10 часов непрерывной работы
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Работает от любого Повербанка либо USB выхода
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Цвет: черный
              </p>
            </li>
          </ul>
          <p class="product-description__tagging">
            * Повербанк приобретается отдельно.
          </p>
        </div>
      </div>
      <div class="catalog__item card" data-slider-name="sneakers">
        <div class="slider-box">
        <div class="swiper swiper-sneakers">
          <div class="swiper-wrapper card__images">
            <img src="@img/products/sneakers/sneakers.jpg" alt="" width="472" height="432"
              class="card__image swiper-slide card__image--main">
            <img src="@img/products/sneakers/sneakers_1.jpg" alt="" width="472" height="432"
              class="card__image swiper-slide">
            <img src="@img/products/sneakers/sneakers_2.jpg" alt="" width="472" height="432"
              class="card__image swiper-slide">
            <img src="@img/products/sneakers/sneakers_3.jpg" alt="" width="472" height="432"
              class="card__image swiper-slide">
          </div>
        </div>
      </div>
        <h3 class="card__title">
          Защитные кроссовки Titan Heavy Duty Sneakers 2.0
        </h3>
        <div class="card__price price">
          <p class="price__new">
            <span class="price__new-count">89</span><span class="price__new-currency">€</span>
          </p>
          <del class="price__old">
            <span class="price__old-count">178</span><span class="price__old-currency">€</span>
          </del>
        </div>
        <button class="btn-reset card__btn more-btn btn">подробнее</button>
        <div class="product-description">
          <h3 class="product-description__title"></h3>
          <p class="product-description__subtitle">
            Titan Heavy Duty Sneakers 2.0 — это дышащие влагозащищенные кроссовки с защитой от ударов и амортизирующей подошвой. Подходят для спортсменов и людей, занимающихся физическим трудом.
          </p>
          <ul class="product-description__list list-reset">
            <li class="product-description__item">
              <p class="product-description__text">
                Вентилируемый водоотталкивающий верхний материал
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Верх обуви пропитан влагозащитой
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Нескользящая и нефтестойкая подошва
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Поглощает энергию удара в области пятки
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Стойкая к проколам вставка из кевлара в подошве
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Ударопрочный носик защищает от ударов силой 200J
              </p>
            </li>
          </ul>
          <p class="product-description__tagging">
            * Повербанк приобретается отдельно.
          </p>
        </div>
      </div>
      <div class="catalog__item card" data-slider-name="heated-vest-camouflage">
        <div class="slider-box">
        <div class="swiper swiper-heated-vest-camouflage">
          <div class="swiper-wrapper card__images">
            <img src="@img/products/heated-vest-camouflage/heated-vest-camouflage.jpg" alt="" width="472" height="432"
              class="card__image card__image--main swiper-slide">
            <img src="@img/products/heated-vest-camouflage/heated-vest-camouflage_1.jpg" alt="" width="472" height="432"
              class="card__image swiper-slide">
          </div>
        </div>
</div>
        <h3 class="card__title">
          Жилет с подогревом
        </h3>
        <div class="card__price price">
          <p class="price__new">
            <span class="price__new-count">69</span><span class="price__new-currency">€</span>
          </p>
          <del class="price__old">
            <span class="price__old-count">138</span><span class="price__old-currency">€</span>
          </del>
        </div>
        <button class="btn-reset card__btn more-btn btn">подробнее</button>
        <div class="product-description tagging">
          <h3 class="product-description__title"></h3>
          <p class="product-description__subtitle">
            Жилет с подогревом Heated Vest - это универсальное решение для защиты от холода:
          </p>
          <ul class="product-description__list list-reset">
            <li class="product-description__item">
              <p class="product-description__text">
                Нагревается всего за одну минуту до 31 градуса
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Регулятор на 3 уровня нагрева ( высокий, средний, низкий)
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Тепловая мембрана omni-heat для длительного сохранения и удержания тепла
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Водонепроницаемый внешний материал
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Простое управление: всего одна кнопка
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Не требует особого ухода: машинная деликатная или ручная стирка
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                До 10 часов непрерывной работы
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Работает от любого Повербанка либо USB выхода
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Цвет: черный
              </p>
            </li>
          </ul>
          <p class="product-description__tagging">
            * Повербанк приобретается отдельно.
          </p>
        </div>
      </div>
      <div class="catalog__item card" data-slider-name="pants">
        <div class="slider-box">
        <div class="swiper swiper-pants">
          <div class="swiper-wrapper card__images">
            <img src="@img/products/pants/pants.jpg" alt="" width="472" height="432"
              class="card__image card__image--main swiper-slide">
            <img src="@img/products/pants/pants_1.jpg" alt="" width="472" height="432" class="card__image swiper-slide">
          </div>
        </div>
        </div>
        <h3 class="card__title">
          Шатны с подогревом
        </h3>
        <div class="card__price price">
          <p class="price__new">
            <span class="price__new-count">59</span><span class="price__new-currency">€</span>
          </p>
          <del class="price__old">
            <span class="price__old-count">118</span><span class="price__old-currency">€</span>
          </del>
        </div>
        <button class="btn-reset card__btn more-btn btn">подробнее</button>
        <div class="product-description tagging">
          <h3 class="product-description__title"></h3>
          
          <ul class="product-description__list list-reset">
            <li class="product-description__item">
              <p class="product-description__text">
                Анатомичный крой
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Регулятор на 3 уровня нагрева ( высокий, средний, низкий) 
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                До 10 часов непрерывной работы
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Простое управление: всего одна кнопка
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Не требует особого ухода: машинная деликатная или ручная стирка 
              </p>
            </li>
            <li class="product-description__item">
              <p class="product-description__text">
                Работает от любого Повербанка либо USB выхода
              </p>
            </li>
          </ul>
          <p class="product-description__tagging">
            * Повербанк приобретается отдельно.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>