<section class="catalog section-offset" id="catalog">
  <div class="container catalog__container">
    <h2 class="catalog__title tac">
      Каталог
    </h2>
    <div class="catalog__items">
      <div class="catalog__item card" data-slider-name="heated-jacket">
        <div class="swiper swiper-heated-jacket">
          <div class="swiper-wrapper card__images">
          <img src="@img/products/heated-jacket/heated-jacket.jpg" alt="" width="472" height="432" class="card__image swiper-slide card__image--main">
          <img src="@img/products/heated-jacket/heated-jacket_1.jpg" alt="" width="472" height="432" class="card__image swiper-slide">
          <img src="@img/products/heated-jacket/heated-jacket_2.jpg" alt="" width="472" height="432" class="card__image swiper-slide">
          <img src="@img/products/heated-jacket/heated-jacket_3.jpg" alt="" width="472" height="432" class="card__image swiper-slide">
          <img src="@img/products/heated-jacket/heated-jacket_4.jpg" alt="" width="472" height="432" class="card__image swiper-slide">
          <img src="@img/products/heated-jacket/heated-jacket_5.jpg" alt="" width="472" height="432" class="card__image swiper-slide">
        </div>
        </div>
        
        <h3 class="card__title">
          Куртка с подогревом
        </h3>
        <div class="card__price price">
          <p class="price__new">
            <span class="price__new-count">79</span><span class="price__new-currency">€</span>
          </p>
          <del class="price__old">
            <span class="price__old-count">158</span><span class="price__old-currency">€</span>
          </del>
        </div>
        <button class="btn-reset card__btn btn">подробнее</button>
      </div>
      <div class="catalog__item card" data-slider-name="heated-vest">
        <div class="swiper swiper-heated-vest">
          <div class="swiper-wrapper card__images">
          <img src="@img/products/heated-vest/heated-vest.jpg" alt="" width="472" height="432" class="card__image swiper-slide card__image--main">
          <img src="@img/products/heated-vest/heated-vest_1.jpg" alt="" width="472" height="432" class="card__image swiper-slide">
          <img src="@img/products/heated-vest/heated-vest_2.jpg" alt="" width="472" height="432" class="card__image swiper-slide">
          <img src="@img/products/heated-vest/heated-vest_3.jpg" alt="" width="472" height="432" class="card__image swiper-slide">
          <img src="@img/products/heated-vest/heated-vest_4.jpg" alt="" width="472" height="432" class="card__image swiper-slide">
        </div>
        </div>
        
        <h3 class="card__title">
          Жилет с подогревом
        </h3>
        <div class="card__price price">
          <p class="price__new">
            <span class="price__new-count">69</span><span class="price__new-currency">€</span>
          </p>
          <del class="price__old">
            <span class="price__old-count">138</span><span class="price__old-currency">€</span>
          </del>
        </div>
        <button class="btn-reset card__btn btn">подробнее</button>
      </div>
      <div class="catalog__item card" data-slider-name="sneakers" >
        <div class="swiper swiper-sneakers">
          <div class="swiper-wrapper card__images">
            <img src="@img/products/sneakers/sneakers.jpg" alt="" width="472" height="432" class="card__image swiper-slide card__image--main">
            <img src="@img/products/sneakers/sneakers_1.jpg" alt="" width="472" height="432" class="card__image swiper-slide">
            <img src="@img/products/sneakers/sneakers_2.jpg" alt="" width="472" height="432" class="card__image swiper-slide">
            <img src="@img/products/sneakers/sneakers_3.jpg" alt="" width="472" height="432" class="card__image swiper-slide">
          </div>
        </div>
        
        <h3 class="card__title">
          Защитные кроссовки Titan Heavy Duty Sneakers 2.0
        </h3>
        <div class="card__price price">
          <p class="price__new">
            <span class="price__new-count">89</span><span class="price__new-currency">€</span>
          </p>
          <del class="price__old">
            <span class="price__old-count">178</span><span class="price__old-currency">€</span>
          </del>
        </div>
        <button class="btn-reset card__btn btn">подробнее</button>
      </div>
      <div class="catalog__item card" data-slider-name="heated-vest-camouflage">
        <div class="swiper swiper-heated-vest-camouflage" >
          <div class="swiper-wrapper card__images">
            <img src="@img/products/heated-vest-camouflage/heated-vest-camouflage.jpg" alt=""
              width="472" height="432" class="card__image card__image--main swiper-slide">
            <img src="@img/products/heated-vest-camouflage/heated-vest-camouflage_1.jpg" alt=""
              width="472" height="432" class="card__image swiper-slide">
          </div>
        </div>

        <h3 class="card__title">
          Жилет с подогревом
        </h3>
        <div class="card__price price">
          <p class="price__new">
            <span class="price__new-count">69</span><span class="price__new-currency">€</span>
          </p>
          <del class="price__old">
            <span class="price__old-count">138</span><span class="price__old-currency">€</span>
          </del>
        </div>
        <button class="btn-reset card__btn btn">подробнее</button>
      </div>
      <div class="catalog__item card" data-slider-name="pants">
        <div class="swiper swiper-pants">
          <div class="swiper-wrapper card__images">
            <img src="@img/products/pants/pants.jpg" alt="" width="472" height="432" class="card__image card__image--main swiper-slide">
            <img src="@img/products/pants/pants_1.jpg" alt="" width="472" height="432" class="card__image swiper-slide">
          </div>
        </div>
        <h3 class="card__title">
          Шатны с подогревом
        </h3>
        <div class="card__price price">
          <p class="price__new">
            <span class="price__new-count">59</span><span class="price__new-currency">€</span>
          </p>
          <del class="price__old">
            <span class="price__old-count">118</span><span class="price__old-currency">€</span>
          </del>
        </div>
        <button class="btn-reset card__btn btn">подробнее</button>
      </div>
    </div>
  </div>
</section>