<footer class="footer">
  <div class="container tac">
    <p class="footer-comp footer-text">COMPANY</p>
    <p class="footer-addres footer-text">ADDRESS</p>
    <p class="footer-date footer-text">
      &#169; 2013-<script>
        document.write(new Date().getFullYear())
      </script> All rights reserved.
    </p>

    <img class="footer-card" src="@img/icons.png" style="width: auto; max-width:100%; height:auto; margin: auto">

    <a class="db footer-link" href="/privacypolicy" target="_blank">Privacy policy</a>
    <a class="db footer-link" href="/general-conditions-of-sale" target="_blank">General conditions of sale</a>
    <a class="db footer-link" href="/legal-warning" target="_blank">Legal warning</a>
  </div>
</footer>