<div class="modal">
  <div class="modal-container">
    <button class="modal-close btn-reset"></button>
    <div class="modal-content">
      <div class="modal-content__box">
        <img src="@img/products/heated-jacket/heated-jacket.jpg" width="472" height="432" alt="" class="modal-content__image">
      </div>
      <div class="price-box">
        
      </div>
      <div class="modal-form">
        
      </div>
      <div class="modal-content__product">

      </div>
    </div>
  </div>
</div>