<section class="reviews section-offset" id="reviews">
  <div class="container reviews__container">
    <h3 class="reviews__title title">Отзывы покупателей</h3>
    <div class="slider reviews__slider">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slide">
              <div class="slide-comment">
                <div class="slide-comment__avatar">
                  <img src="@img/slider/slide-1/avatar.png" alt=""  width="54" height="54" class="slide-comment__avatar-img db">
                </div>
                <div class="slide-comment__content">
                  <p class="slide-comment__name">Ольга</p>
                  <p class="slide-comment__text">
                    Приобрела у вас жилет и штаны для мужа месяц назад. Качество отличное! Всё отлично работает. Жилет
                    выглядит стильно и привлекательно, можно носить под курткой или пальто. Очень не люблю мерзнуть
                    зимой, наконец-то нашла то что искала! Мужу тоже всё подошло. Буду вас рекомендовать!
                  </p>
                  <img src="@img/slider/slide-1/item.jpg" alt="" class="slide-comment__img" width="210" height="260" >
                  <p class="slide-comment__time">15:33</p>
                </div>
              </div>
              <div class="slide-answer">
                <div class="slide-answer__content">
                  <h3 class="slide-answer__command">
                    Команда Hot Fashion
                  </h3>
                  <p class="slide-answer__text">
                    Мы очень рады, используйте на здоровье!
                  </p>
                  <p class="slide-answer__time">
                    15:35
                  </p>
                </div>
                <div class="slide-answer__avatar">
                  <img src="@img/slider/avatar-answer.png" alt="" width="64" height="64" class="slide-answer__avatar-img db">

                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide">
              <div class="slide-comment">
                <div class="slide-comment__avatar">
                  <img src="@img/slider/slide-2/avatar.png" alt="" class="slide-comment__avatar-img db" width="54" height="54">
                </div>
                <div class="slide-comment__content">
                  <p class="slide-comment__name">Иван</p>
                  <p class="slide-comment__text">
                    Я очень довольн!!!! Заказал куртку и кроссовки, ваш консультант предложил взять ещё и стельки тоже с
                    обогревом. Не прогадал! Отлично смотрится и греет. Теперь зимой на работе точно не замерзну и не
                    буду болеть!
                  </p>
                  <img src="@img/slider/slide-2/item.jpg" alt="" width="210" height="260" class="slide-comment__img">
                  <p class="slide-comment__time">10:01</p>
                </div>
              </div>
              <div class="slide-answer">
                <div class="slide-answer__content">
                  <h3 class="slide-answer__command">
                    Команда Hot Fashion
                  </h3>
                  <p class="slide-answer__text">
                    Мы очень рады, используйте на здоровье!
                  </p>
                  <p class="slide-answer__time">
                    10:39
                  </p>
                </div>
                <div class="slide-answer__avatar">
                  <img src="@img/slider/avatar-answer.png" alt="" width="64" height="64" class="slide-answer__avatar-img db">

                </div>
              </div>
            </div>
          </div> 
          <div class="swiper-slide">
            <div class="slide">
              <div class="slide-comment">
                <div class="slide-comment__avatar">
                  <img src="@img/slider/slide-3/avatar.png" alt="" class="slide-comment__avatar-img db" width="54" height="54">
                </div>
                <div class="slide-comment__content">
                  <p class="slide-comment__name">Олег</p>
                  <p class="slide-comment__text">
                    Добрый день. Делаю уже далеко не первый заказ. Вещи очень качественные и нужные. Доставка быстрая,
                    сегодня заказал и уже через день получил. Три дня назад заказывал куртку и штаны для отца и за одно
                    себе взял перчатки winter gloves, буду следующей зимой носить. Буду заказывать ещё.
                  </p>
                  <img src="@img/slider/slide-3/item.jpg" alt="" width="210" height="260" class="slide-comment__img">
                  <p class="slide-comment__time">16:30</p>
                </div>
              </div>
              <div class="slide-answer">
                <div class="slide-answer__content">
                  <h3 class="slide-answer__command">
                    Команда Hot Fashion
                  </h3>
                  <p class="slide-answer__text">
                    Мы очень рады, используйте на здоровье!
                  </p>
                  <p class="slide-answer__time">
                    16:46
                  </p>
                </div>
                <div class="slide-answer__avatar">
                  <img src="@img/slider/avatar-answer.png" alt="" width="64" height="64" class="slide-answer__avatar-img db">

                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide">
              <div class="slide-comment">
                <div class="slide-comment__avatar">
                  <img src="@img/slider/slide-4/avatar.png" alt="" class="slide-comment__avatar-img db" width="54" height="54">
                </div>
                <div class="slide-comment__content">
                  <p class="slide-comment__name">Виктор</p>
                  <p class="slide-comment__text">
                    Доброго дня! Делали заказ второй раз. Сейчас брали жилет для жены и я купил себе водонепроницаемые
                    тактические штаны Alpha с тактическим ремнем. По товарам вопросов нет, размер подошел точно,
                    качество отличное. Заказ пришел очень быстро. Магазину и сотрудникам всего самого хорошего! Спасибо
                    вам.
                  </p>
                  <img src="@img/slider/slide-4/item.jpg" alt="" width="210" height="260" class="slide-comment__img">
                  <p class="slide-comment__time">11:13</p>
                </div>
              </div>
              <div class="slide-answer">
                <div class="slide-answer__content">
                  <h3 class="slide-answer__command">
                    Команда Hot Fashion
                  </h3>
                  <p class="slide-answer__text">
                    Мы очень рады, используйте на здоровье!
                  </p>
                  <p class="slide-answer__time">
                    11:30
                  </p>
                </div>
                <div class="slide-answer__avatar">
                  <img src="@img/slider/avatar-answer.png" alt="" width="64" height="64" class="slide-answer__avatar-img db">

                </div>
              </div>
            </div>
          </div> 
        </div>
        <div class="swiper-pagination"></div> 
      </div>
    </div>
  </div>
</section>