<section class="order section-offset" id="order">
  <div class="container order__container">
    <h2 class="order__title">
      КАК СДЕЛАТЬ ЗАКАЗ?
    </h2>
    <div class="order__items">
      <div class="order-item">
        <div class="order-item__box">
          <img src="@img/orderSection/item-1.jpg" alt="" width="194" height="122" class="order-item__img">
        </div>
        <div class="order-item__content">
          <h3 class="order-item__title">
            заявка
          </h3>
          <p class="order-item__text">
            Оставьте заявку
            на сайте
          </p>
        </div>
      </div>
      <div class="order-item">
        <div class="order-item__box">
          <img src="@img/orderSection/item-2.jpg" alt="" width="194" height="122" class="order-item__img">
        </div>
        <div class="order-item__content">
          <h3 class="order-item__title">
            звонок
          </h3>
          <p class="order-item__text">

            Наш менеджер уточняет детали заказа

          </p>
        </div>
      </div>
      <div class="order-item">
        <div class="order-item__box">
          <img src="@img/orderSection/item-3.jpg" alt="" width="194" height="122" class="order-item__img">
        </div>
        <div class="order-item__content">
          <h3 class="order-item__title">
            доставка
          </h3>
          <p class="order-item__text">
            Доставляем ваш товар в течение 1-3 дней
          </p>
        </div>
      </div>
      <div class="order-item">
        <div class="order-item__box">
          <img src="@img/orderSection/item-4.jpg" alt="" width="194" height="122" class="order-item__img">
        </div>
        <div class="order-item__content">
          <h3 class="order-item__title">
            ОПЛАТА
          </h3>
          <p class="order-item__text">
            Оплачиваете при получении
          </p>
        </div>
      </div>
    </div>
  </div>
</section>