<section class="reviews section-offset">
  <h3 class="reviews__title title">Отзывы покупателей</h3>
  <div class="slider">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide">
            <div class="slide-top df al-c">
              <div class="slide-top__box">
                <img src="@img/slider/slide-1/avatar.png" alt="" class="slide-top__img db">
              </div>
              <div class="slide-top__info">
                <p class="slide-top__name">Анна Васильева</p>
              </div>

            </div>
            <img src="@img/slider/slide-1/item.jpg" alt="" class="slide-img">
            <div class="grade">
              <p class="grade__text">
                Оценка
              </p>
              <img src="@img/slider/stars.png" alt="" class="grade__stars">
            </div>
            <div class="slide-comment">
              <div class="slide-comment__info">
                <p class="slide-comment__text">
                  Шикарная маска! Я безумно довольна, не ожидала такого результата. Заказала второй раз.Нанесла, подождала и и смыла. Кожа очень мягкая и увлажненная, с красивым тоном. Теперь пользуюсь Orange Mask Stick регулярно. Советую всем.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide">
            <div class="slide-top df al-c">
              <div class="slide-top__box">
                <img src="@img/slider/slide-2/avatar.png" alt="" class="slide-top__img db">
              </div>
              <div class="slide-top__info">
                <p class="slide-top__name">Виктория</p>
              </div>

            </div>
            <img src="@img/slider/slide-2/item.jpg" alt="" class="slide-img">
            <div class="grade">
              <p class="grade__text">
                Оценка
              </p>
              <img src="@img/slider/stars.png" alt="" class="grade__stars">
            </div>
            <div class="slide-comment">
              <div class="slide-comment__info">
                <p class="slide-comment__text">
                  Это действительно что-то с чем-то! Маски отличные, у меня уже есть 2 из этого магазина, Orange Mask Stick и Green Acne Stick, одна тонизирует, увлажняет и выравнивает тон, а другая борется с черными точками и сужает поры. 
                </p>
                <p class="slide-comment__text">Лучшего я не пробовала!!! Однозначно всем советую!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide">
            <div class="slide-top df al-c">
              <div class="slide-top__box">
                <img src="@img/slider/slide-3/avatar.png" alt="" class="slide-top__img db">
              </div>
              <div class="slide-top__info">
                <p class="slide-top__name">Мария</p>
              </div>
            </div>
            <img src="@img/slider/slide-3/item.jpg" alt="" class="slide-img">

            <div class="grade">
              <p class="grade__text">
                Оценка
              </p>
              <img src="@img/slider/stars.png" alt="" class="grade__stars">
            </div>
            <div class="slide-comment">
              <div class="slide-comment__info">
                <p class="slide-comment__text">
                  Супер маска. Очень понравился эффект. Действие этой маски, сейчас наверное, мое самое любимое. Имеет очень приятный запах. Можно её прям часто использовать, если есть проблемы с пигментными пятнами, сухостью или плохим цветом кожи. Она очень хорошо увлажняет, делает красивый цвет лица. Буду заказывать ещё.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>