<div class="timer">
  <h3 class="timer__title tac">
    До конца акции осталось
  </h3>
  <div class="timer__inner df fit mr-a">
    <div class="timer-box">
      <p class="timer-hours timer-count" data-timer-hours='1'>
        01
      </p>
      <p class="timer__text">часов</p>
    </div>
    <span class="timer-delimeter db">:</span>
    <div class="timer-box">
      <p class="timer-minutes timer-count" data-timer-minutes='100'>
        15
      </p>
      <p class="timer__text">минут</p>
    </div>
    <span class="timer-delimeter db">:</span>
    <div class="timer-box">
      <p class="timer-seconds timer-count" data-timer-seconds='100'>
        00
      </p>
      <p class="timer__text">секунд</p>
    </div>
  </div>
</div>